App_Data/*.ldf
App_Data/*.mdf

bin/
Bin/
obj/
csx/
TestResults/
*.suo
*.rdl.data
*.sqlsuo
*.rptproj.user
log4net.log
*.csproj.user
*.resharper.user
*.ReSharper.user
*.DotSettings.user
_ReSharper*/
*.log
*.orig
*.ReSharper.user
*.tmp
*.mdf
*.ldf
*.wadcfg
ConnectionStrings.config
LocalResources/*

# Ignore Nuget. From: https://docs.nuget.org/consume/package-restore
*.nupkg
**/packages/*
!**/packages/build/
#!**/packages/repositories.config