<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package uploadId="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package uploadId="bootstrap" version="3.0.0" targetFramework="net45" />
  <package uploadId="jQuery" version="1.10.2" targetFramework="net45" />
  <package uploadId="jQuery.ValuploadIdation" version="1.11.1" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.WebApi.HelpPage" version="5.2.3" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net45" />
  <package uploadId="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package uploadId="Microsoft.jQuery.Unobtrusive.ValuploadIdation" version="3.2.0" targetFramework="net45" />
  <package uploadId="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package uploadId="Microsoft.Owin.Cors" version="3.0.1" targetFramework="net45" />
  <package uploadId="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net45" />
  <package uploadId="Microsoft.Owin.Security" version="3.0.1" targetFramework="net45" />
  <package uploadId="Microsoft.Owin.Security.OAuth" version="3.0.1" targetFramework="net45" />
  <package uploadId="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package uploadId="Modernizr" version="2.6.2" targetFramework="net45" />
  <package uploadId="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package uploadId="Owin" version="1.0" targetFramework="net45" />
  <package uploadId="Respond" version="1.2.0" targetFramework="net45" />
  <package uploadId="WebGrease" version="1.5.2" targetFramework="net45" />
</packages>